<!-- Warming Up -->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
<!--Video Section-->
<div class="beep">
  <section class="content-section video-section">
    <div class="pattern-overlay">
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=sd4bqmP_460',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    </div>
  </section>
</div>
<h2 class="cent">Welcome Fellow Shibes!</h2>
<h3 class="cent">You need to sign up/in to learn the secerts of the shibe</h3>
