<table class="table table-hover">
  <thead>
    <tr class="table_header">
      <th>Recent Posts</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |p| %>
      <tr>
        <td style="width:100%"><%= link_to post.title, post_path(p) %></td>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
