.devise-registrations {
  background: image-url('max_doge.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.devise-sessions-new {
  background: image-url('max_doge.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.devise-sessions-create {
  background: image-url('max_doge.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.7;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.centerTable {
  width: 20%;
  margin: 0 auto;
}

.posts-new {
  background: image-url('appledoge.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.posts-show {
  background: image-url('doge_sky.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
